.container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 20px;
  }
  .item{
    background-color: red;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}